menu{
    list-style-type: none;
    
    position: relative;
    display: block;
}

    .wheel{
        position: relative;
        display: inline-block;
        background-color: white;
        
        width: 200px;
        height: 200px;
        
        border-radius: 50%;
        
        /*border: 3px solid white;*/
        
        padding: 0;
        margin: 40px;
    }
    
    .wheel:nth-of-type(1){
    /*
    left: 200 -> 157
    
    145
    90
    104
    118
    
    */
    
    }
    .wheel:nth-of-type(2){
        /*
    top: 90 -> 178
    
    179
    111
    88
    238
    
    */
    
    
    }

        .wheel > span{
            width: 100%;
            height: 100%;
        
            display: -webkit-box;
            display: -moz-box;
            display: box;
            
            -webkit-box-align: center;
            -moz-box-align: center;
            box-align: center;
            
            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
        }
    
        .wheel > menu{
            position:absolute;
            top:0;
            left:0;
        }

            .wheel > menu > li{
                position: absolute;
                display:block;
                
                padding: 0;
                margin: 0;
                
                width: 150px;
                height: 150px;

                border-top-left-radius: 100%;
                
                /**
                ** Thanks @leaverou !
                ** http://lea.verou.me/2011/03/beveled-corners-negative-border-radius-with-css3-gradients/ 
                */
                background: 
                    -moz-radial-gradient(100% 100%, circle, transparent 100px, rgb(145,145,145) 15px);
                background-position: bottom right;
            }
            
            /*.wheel:nth-of-type(1) > menu > li:nth-of-type(1){
                background-color: rgb(145,145,145);
            
            }*/
            
                .wheel > menu > li > span{
                    display:block;
                    text-align: center;
                    -moz-transform: translate(-15px, 60px) rotate(-45deg);
                }
            
            
            .wheel > menu > li:nth-of-type(1){
                top: -50px;
                left:-50px; 
            }            
            
            .wheel > menu > li:nth-of-type(2){
                top: -50px;
                left: 100px;
                -moz-transform: rotate(90deg);
            }
    
            .wheel > menu > li:nth-of-type(3){
                top: 100px;
                left:-50px;
                -moz-transform: rotate(-90deg);
            }            
            
            .wheel > menu > li:nth-of-type(4){
                top: 100px;
                left:100px;
                -moz-transform: rotate(180deg);
            }
